body {
	background-image: url('../app_background.jpg');
}

.col{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    background-color:LightGrey;
}

.col-wrap{
    overflow: hidden; 
}

.body {
	padding: 0;
}

.row-fluid {
	text-align: center;
}

.section-header {
	margin: -2px;
	text-align: center;
	color: White;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.scorebox {
	font-size: xx-large;
}

.scorechangebutton {
	position: relative;
}

.turn-button {
	height: 75px;
	font-size: xx-large;
	font-weight: bold;
}

.btn {
	margin: 3px;
	width: 98%;
}

.arrowholder {
	position: relative;
    z-index: 1;
}

.shakerarrow {
	position: absolute;
	z-index: 3;
}

.hollowshakerarrow {
	position: relative;
	z-index: 2;
}