.leftframetop {
	border: 1px solid;
	border-radius: 10px;
	background-color: White;
}

.leftframebottom {
	border: 1px solid;
	border-radius: 10px;
	background-color: White;
}

.rightframe {
	border: 1px solid;
	border-radius: 10px;
	background-color: White;
}

.pagebase {
	background-color: Maroon;
}

.pageheader {
	border: 1px solid;
	border-radius: 10px;
	background-color: White;
	padding-left: 33%;
}

.frameheader {
	text-align: center;
}

.scorebox {
	text-align: center;
	font-size: xx-large;
}

.scorechangebutton {
	position: relative;
	top: 15px;
}

.btn {
	margin: 3px;
}

.arrowholder {
	position: relative;
    z-index: 1;
}

.shakerarrow {
	position: absolute;
	z-index: 3;
}

.hollowshakerarrow {
	position: relative;
	z-index: 2;
}