<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/css/bootstrap-responsive.css" rel="stylesheet">
		<link rel="stylesheet" href="static/css/bootstrap.css">
		<link rel="stylesheet" href="static/css/style.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script src="static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
		<script src="static/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="static/js/instance.js" type="text/javascript"></script>
        <title>{% block title %}Shake Dem Bones{% endblock %}</title>
    </head>
	
	
    <body>			
	
	<div class='visible-desktop'>
		<h1 class='section-header'>Shake the Bones - 42 Game Tracker </h1>							
		<div class="row-fluid col-wrap">		
			<div class="span4 col">			
				<h2> Turn </h2>		
				
				<div class='row-fluid'>							
					<div class="span12">
						<h3>Who won the last turn?</h3>
						<div><button class="btn btn-success btn-lg js-us_win_the_turn"> US </button></div>
						<div><button class="btn btn-success btn-lg js-them_win_the_turn"> THEM </button></div>
					</div>
				</div>
				
				<div class="row-fluid">	
					<div class="span12">					
						<h3>This hand is worth <span class='js-count_on_turn'>1</span> mark(s).</h3>
						<div><button class="btn btn-info btn-default js-increment_count">INCREASE MARKS</button></div>
						<div><button class="btn btn-info btn-default js-decrement_count">DECREASE MARKS</button></div>
					</div>						
				</div>								
					
				<div class='row-fluid'>							
					<div class="span12">
						<h3>Reset The Score?</h3>	
						<div><button class="btn btn-danger btn-lg js-reset_count_to_zero"> RESET SCORE </button></div>
					</div>
				</div>
					
			</div>
			
			
			<div class="span3 col">
				<h2> Score </h2>
				
				<div class="row-fluid">	
					<div class="span12">
						<h3>Us</h3>	
						<p class='js-us_score_box scorebox'>0</p>					
							<div><button class='btn btn-info btn-default scorechangebutton js-us_increment'> ADD MARK </button></div>
							<div><button class='btn btn-info btn-default scorechangebutton js-us_decrement'> SUBTRACT MARK </button></div>						
					</div>
				</div>
				
				<div class='row-fluid'>
					<div class="span12">	
						<h3>Them</h3>
						<p class='js-them_score_box scorebox'>0</p>					
					
						<div><button class='btn btn-info btn-default scorechangebutton js-them_increment'> ADD MARK </button></div>
						<div><button class='btn btn-info btn-default scorechangebutton js-them_decrement'> SUBTRACT MARK </button></div>							
					</div>					
				</div>
			</div>
			
			
			<div class="span5 rightframe col"> 
				<h2> Shaker </h2>
				
				<div class='row-fluid'>
					<div class='span2 offset5 arrowholder'>
						<img src="static/arrow_up.png" class="shakerarrow js-arrow_up"></img>
						<img src="static/arrow_up_hollow.png" class="hollowshakerarrow"></img>
					</div>
				</div>
				
				<div class='row-fluid'>
					<div class='span2 offset2 arrowholder'>
						<img src="static/arrow_left.png" class="shakerarrow js-arrow_left"></img>
						<img src="static/arrow_left_hollow.png" class="hollowshakerarrow"></img>
					</div>
					<div class='span2 offset4 arrowholder'>
						<img src="static/arrow_right.png" class="shakerarrow js-arrow_right"></img>
						<img src="static/arrow_right_hollow.png" class="hollowshakerarrow"></img>
					</div>
				</div>
				
				<div class='row-fluid'>
					<div class='span2 offset5 arrowholder'>
						<img src="static/arrow_down.png" class="shakerarrow js-arrow_down"></img>
						<img src="static/arrow_down_hollow.png" class="hollowshakerarrow"></img>
					</div>
				</div>
				
				<div class='row-fluid'>
					<button class='btn btn-info btn-default js-next_shaker'> NEXT </button>
					<button class='btn btn-info btn-default js-previous_shaker'> PREVIOUS </button>
				</div>
			</div>
		</div>
	</div>		
		
	

	<div class='visible-tablet'>			
		<h3 class='section-header'> Shake the Bones</h3>		
		
		<div class='row-fluid'>							
			<div class="span12">
				<h3 class='section-header'>Who won the last hand?</h3>
				<div class='row-fluid'>
					<div class="span6"><button class="btn btn-success btn-lg js-them_win_the_turn turn-button"> THEM </button></div>
					<div class="span6"><button class="btn btn-success btn-lg js-us_win_the_turn turn-button"> US </button></div>
				</div>
			</div>
		</div>
		
		<div class="row-fluid">	
			<div class="span12">					
				<h3 class='section-header'>This hand is worth <span class='js-count_on_turn'>1</span> mark(s).</h3>
				<div class="row-fluid">					
					<div class="span6"><button class="btn btn-info btn-default js-decrement_count">DECREASE MARKS</button></div>
					<div class="span6"><button class="btn btn-info btn-default js-increment_count">INCREASE MARKS</button></div>
				</div>
			</div>						
		</div>
		
		<h2 class='section-header'> Score </h2>
		
		<div class="row-fluid">	
			<div class='span4'>
				<button class='btn btn-info btn-default scorechangebutton js-us_increment'> ADD MARK </button>
				<button class='btn btn-info btn-default scorechangebutton js-us_decrement'> SUBTRACT MARK </button>
			</div>
			
			<div class='span2'>
				<h3 class='section-header'>Them</h3>
				<p class='js-them_score_box scorebox section-header'>0</p>
			</div>
			
			<div class='span2'>
				<h3 class='section-header'>Us</h3>
				<p class='js-us_score_box scorebox section-header'>0</p>		
			</div>
			
			<div class='span4'>
				<button class='btn btn-info btn-default scorechangebutton js-them_increment'> ADD MARK </button>
				<button class='btn btn-info btn-default scorechangebutton js-them_decrement'> SUBTRACT MARK </button>
			</div>		
		</div>
	
	
		<h2 class='section-header'> Shaker </h2>
		
		<div class='row-fluid'>
			<div class='span2 offset5 arrowholder'>
				<img src="static/arrow_up.png" class="shakerarrow js-arrow_up"></img>
				<img src="static/arrow_up_hollow.png" class="hollowshakerarrow"></img>
			</div>
		</div>
		
		<div class='row-fluid'>
			<div class='span2 offset2 arrowholder'>
				<img src="static/arrow_left.png" class="shakerarrow js-arrow_left"></img>
				<img src="static/arrow_left_hollow.png" class="hollowshakerarrow"></img>
			</div>
			<div class='span2 offset4 arrowholder'>
				<img src="static/arrow_right.png" class="shakerarrow js-arrow_right"></img>
				<img src="static/arrow_right_hollow.png" class="hollowshakerarrow"></img>
			</div>
		</div>
		
		<div class='row-fluid'>
			<div class='span2 offset5 arrowholder'>
				<img src="static/arrow_down.png" class="shakerarrow js-arrow_down"></img>
				<img src="static/arrow_down_hollow.png" class="hollowshakerarrow"></img>
			</div>
		</div>
		
		<div class='row-fluid'>
			<div class="span6"><button class='btn btn-info btn-default js-previous_shaker'> PREVIOUS </button></div>
			<div class="span6"><button class='btn btn-info btn-default js-next_shaker'> NEXT </button></div>
		</div>
		
		<div class='row-fluid'>							
			<div class="span12">
				<h3 class='section-header'>Reset The Score?</h3>	
				<div><button class="btn btn-danger btn-lg js-reset_count_to_zero"> RESET SCORE </button></div>
			</div>
		</div>
	</div>

	<div class='visible-phone'>					
		<div class='row-fluid'>							
			<div class="span12">
				<h4 class='section-header'>Who won the last hand?</h4>
				<div class='row-fluid'>
					<div class="span6"><button class="btn btn-success btn-default js-them_win_the_turn turn-button-phone"> THEM </button></div>
					<div class="span6"><button class="btn btn-success btn-default js-us_win_the_turn turn-button-phone"> US </button></div>
				</div>
			</div>
		</div>
		
		<div class="row-fluid">	
			<div class="span12">					
				<h4 class='section-header'>This hand is worth <span class='js-count_on_turn'>1</span> mark(s).</h4>
				<div class="row-fluid">					
					<div class="span6"><button class="btn btn-info btn-small js-decrement_count">DECREASE</button></div>
					<div class="span6"><button class="btn btn-info btn-small js-increment_count">INCREASE</button></div>
				</div>
			</div>						
		</div>
		
		<h3 class='section-header'> Score </h3>
		
		<div class="row-fluid">	
			<div class='span4'>
				<button class='btn btn-info btn-small scorechangebutton js-us_increment'> ADD </button>
				<button class='btn btn-info btn-small scorechangebutton js-us_decrement'> SUBTRACT </button>
			</div>
			
			<div class='span2'>
				<h4 class='section-header'>Them</h4>
				<p class='js-them_score_box scorebox-phone section-header'>0</p>
			</div>
			
			<div class='span2'>
				<h4 class='section-header'>Us</h4>
				<p class='js-us_score_box scorebox-phone section-header'>0</p>		
			</div>
			
			<div class='span4'>
				<button class='btn btn-info btn-small scorechangebutton js-them_increment'> ADD </button>
				<button class='btn btn-info btn-small scorechangebutton js-them_decrement'> SUBTRACT </button>
			</div>		
		</div>
	
	
		<h3 class='section-header'> Shaker </h3>
		
		<div class='row-fluid'>
			<div class='span2 offset5 arrowholder'>
				<img src="static/arrow_up.png" class="shakerarrow js-arrow_up"></img>
				<img src="static/arrow_up_hollow.png" class="hollowshakerarrow"></img>
			</div>
		</div>
		
		<div class='row-fluid'>
			<div class='span2 offset2 arrowholder'>
				<img src="static/arrow_left.png" class="shakerarrow js-arrow_left"></img>
				<img src="static/arrow_left_hollow.png" class="hollowshakerarrow"></img>
			</div>
			<div class='span2 offset4 arrowholder'>
				<img src="static/arrow_right.png" class="shakerarrow js-arrow_right"></img>
				<img src="static/arrow_right_hollow.png" class="hollowshakerarrow"></img>
			</div>
		</div>
		
		<div class='row-fluid'>
			<div class='span2 offset5 arrowholder'>
				<img src="static/arrow_down.png" class="shakerarrow js-arrow_down"></img>
				<img src="static/arrow_down_hollow.png" class="hollowshakerarrow"></img>
			</div>
		</div>
		
		<div class='row-fluid'>
			<div class="span6"><button class='btn btn-info btn-small js-previous_shaker'> PREVIOUS </button></div>
			<div class="span6"><button class='btn btn-info btn-small js-next_shaker'> NEXT </button></div>
		</div>
		
		<div class='row-fluid'>							
			<div class="span12">
				<h4 class='section-header'>Reset The Score?</h4>	
				<div><button class="btn btn-danger btn-lg js-reset_count_to_zero"> RESET SCORE </button></div>
			</div>
		</div>
	</div>
		
	</body>
</html>
