{% extends "base.html" %}

{% block content %}

<h1 class='pageheader'>Shake Dem Bones - 42 Game Tracker </h1>

<div class="container-fluid">
	<div class='row-fluid'>
		<div class='span12'>
		
		
			<div class="row-fluid">	
				<div class="span6">

					<div class="row-fluid">	
						<div class="span12 leftframetop">
							<h2 class='frameheader'> Score </h2>
							
							<div class='row-fluid'>
								<div class="span6">
									<h3 class='frameheader'>Us</h3>	
									<p id='us_score_box' class='scorebox'>0</p>						
								</div>
								
								<div class="span6">
									<h3 class='frameheader'>Them</h3>
									<p id='them_score_box' class='scorebox'>0</p>	
								</div>
								
							</div>
							<div class='row-fluid'>							
							
								<div class='span6'>
									<button id='us_increment' class='counterbutton'> ADD </button>
									<button id='us_decrement' class='counterbutton'> SUBTRACT </button>
								</div>
								
								<div class='span6'>
									<button id='them_increment' class='counterbutton'> ADD </button>
									<button id='them_decrement' class='counterbutton'> SUBTRACT </button>
								</div>	
							</div>
						</div>
					</div>

					<div class="row-fluid">	
						<div class="span12 leftframebottom">
							<h2 class='frameheader'> Turn </h2>
							
							<div class='row-fluid'>
								<div class="span8">
									<h3>COUNT ON THIS TURN: <span id='count_on_turn'>1</span></h3>
									<button id='increment_count'>INCREMENT COUNT</button>
									<button id='decrement_count'>DECREMENT COUNT</button>
								</div>
								
								<div class="span4">
									<button id='us_win_the_turn'> US WINS! </button>
									<button id='them_win_the_turn'> THEM WINS! </button>
								</div>
							</div>								
						</div>
					</div>										
				</div>
				
				
				<div class="span6 rightframe"> 
					<h2 class='frameheader'> Shaker </h2>
					
					<div class='row-fluid'>
						<div class='span2 offset5 arrowholder'>
							<img src="static/arrow_up.png" class="shakerarrow" id="arrow_up"></img>
							<img src="static/arrow_up_hollow.png" class="hollowshakerarrow"></img>
						</div>
					</div>
					
					<div class='row-fluid'>
						<div class='span2 offset2 arrowholder'>
							<img src="static/arrow_left.png" class="shakerarrow" id="arrow_left"></img>
							<img src="static/arrow_left_hollow.png" class="hollowshakerarrow"></img>
						</div>
						<div class='span2 offset4 arrowholder'>
							<img src="static/arrow_right.png" class="shakerarrow" id="arrow_right"></img>
							<img src="static/arrow_right_hollow.png" class="hollowshakerarrow"></img>
						</div>
					</div>
					
					<div class='row-fluid'>
						<div class='span2 offset5 arrowholder'>
							<img src="static/arrow_down.png" class="shakerarrow" id="arrow_down"></img>
							<img src="static/arrow_down_hollow.png" class="hollowshakerarrow"></img>
						</div>
					</div>
					
					<div class='row-fluid'>
						<button id='next_shaker' class='counterbutton'> NEXT </button>
						<button id='previous_shaker' class='counterbutton'> PREVIOUS </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
